*{padding: 0px;margin: 0px;}
body, html {
    font-family: roboto, sans-serif,arial;
    background-color: #f0f3fa;
}
.width-100 {
    width: 100%;
    float: left;
}
.container{
    margin: 0px auto;
    width: 1500px;
}
.top-header{
    background-color:#222d39;
    color: #f0f3fa;
    padding: 5px 0px;
    border-bottom: 1px solid #3131315e;
}
.news-list {
    color: red;
    padding: 6px;
    font-size: 20px;
}
.headquote {
    font-size: 18px;
    width: 75%;
    color: #fff;
}
.herder-menu {
    position: relative;
    box-shadow: 0px 2px 5px 0px #00000036;
}
.logo {
    width: fit-content;
    float: left;
}
.main-menu {
    list-style: none;
    float:right;
    margin-top: 20px;
}
.main-menu a{
    font-weight: 500;
    color: #3a3a3a;
    font-size: 20px;
    text-decoration: none;
}
.main-menu li{
    float: left;
    padding: 16px 50px;
}
.slider-width {
    width: 100%;
    height: 580px;
}
.margin-top-50 {
    margin-top: 50px;
}
.width-33 {
    width: 33%;
    float: left;
}
.lates-news {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}
.heading-sest{
    width: 100%;
    float: left;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 0px;
    border: 1px solid #cfcfcf;
    padding-top: 15px;
    padding-left: 15px;
    background-color: #222d39;
    color: #fff;
}
.head-title {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}
.lates-news-ul {
    padding: 0px;
    list-style: none;
    line-height: 40px;
}
.event-list {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}
.event-list-ul {
    padding: 0px;
    list-style: none;
}
.event-list-ul li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.event-date {
    background-color: #2b3846;
    width: 30px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 8px;
    margin-right: 10px;
}